<!-- <div class="container" style="max-width: 700px;" *ngIf="no_favorite && !fav_event.length">
    <div class="text-center no_result " >
        <span style="color: red; font-weight: 500; font-size: 18px;">No favorite events to show</span>
    </div>
</div> -->

<div style="padding-bottom: 5px;" *ngIf="no_favorite && !fav_event.length">
    <div class="text-center no_result1" >
        <span style="color: red; font-weight: 500; font-size: 18px;">No favorite events to show</span>
    </div>
</div>

<div class="container"  *ngIf="no_favorite && fav_event.length">
<div>
  <div class=" table-responsive">
    <div class="mt-4 text-center" style="font-weight: 500;color: #98edd8;font-size: 20px;">List of your favorite events</div>
    <table class="table table-hover text-center table-borderless table-light" style="width: 100%;max-width: 900px;margin-top: 30px;margin-left: auto;margin-right: auto;padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #cccccc">
        <thead>
            <tr scope="row" style="font-size:medium;">

                <th scope="col" style="height: 30px;text-align: center;">#</th>
                <th scope="col" style="height: 30px;text-align: center;">Date</th>
                <th scope="col" style="height: 30px;text-align: center;">Event</th>
                <th scope="col" style="height: 30px;text-align: center;">Category</th>
                <th scope="col" style="height: 30px;text-align: center;">Venue</th>
                <th scope="col" style="height: 30px;text-align: center;">Favorite</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let items of fav_event">
                <th scope="row" style="height: 30px;text-align: center;">{{items.sid}}</th>
                <td>{{items.date}}</td>
                <td>{{items.name}}</td>
                <td>{{items.category}}</td>
                <td>{{items.venue}}</td>
                <td (click)="deleteEvent(items.sid)" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" >
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></td>
            </tr>
            <!-- <tr>
                <th scope="row">1</th>
                <td>2023-08-16</td>
                <td>Pink:Summer Carnival 2023</td>
                <td>Rock|Pop|Music</td>
                <td>Neal S Blaisdell Arena</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash trash_icon" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>2023-08-16</td>
                <td>Pink:Summer Carnival 2023</td>
                <td>Rock|Pop|Music</td>
                <td>Neal S Blaisdell Arena</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash trash_icon" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></td>
            </tr> -->
            <!-- <tr *ngFor="let booking of rbookings">
                <th scope="row">{{booking.sid}}</th>
                <td >{{booking.businessname}}</td>
                <td>{{booking.date}}</td>
                <td>{{booking.time}}</td>
                <td>{{booking.email}}</td>
                <td (click)="deleteBooking(booking.sid)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash trash_icon" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </td>
            </tr> -->
        </tbody>
    </table>
  </div>
  </div>
</div>