<div>
<nav class="navbar navbar-expand navbar-light fixed ms-auto">
    <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse details" id="navbarSupportedContent">
        <div></div>
        <ul class="navbar-nav ms-auto unorderlistclass">
            
            <li class="nav-item labelsofitem"  routerLinkActive="active">
                <a class="nav-link" routerLink="/search" style="color: white;text-decoration: none; " >&nbsp;&nbsp;Search&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item labelsofitem"  routerLinkActive="active">
                <a class="nav-link" routerLink="/favorites" style="color: white;text-decoration: none;">&nbsp;&nbsp;Favorites&nbsp;&nbsp;</a>
            </li>
            
        </ul>
    </div>
</nav>
</div>